.stars-green {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #AFF5B4, 324px 42px #AFF5B4, 303px 586px #AFF5B4,
    1312px 276px #AFF5B4, 451px 625px #AFF5B4, 521px 1931px #AFF5B4, 1087px 1871px #AFF5B4,
    36px 1546px #AFF5B4, 132px 934px #AFF5B4, 1698px 901px #AFF5B4, 1418px 664px #AFF5B4,
    1448px 1157px #AFF5B4, 1084px 232px #AFF5B4, 347px 1776px #AFF5B4, 1722px 243px #AFF5B4,
    1629px 835px #AFF5B4, 479px 969px #AFF5B4, 1231px 960px #AFF5B4, 586px 384px #AFF5B4,
    164px 527px #AFF5B4, 8px 646px #AFF5B4, 1150px 1126px #AFF5B4, 665px 1357px #AFF5B4,
    1556px 1982px #AFF5B4, 1260px 1961px #AFF5B4, 1675px 1741px #AFF5B4,
    1843px 1514px #AFF5B4, 718px 1628px #AFF5B4, 242px 1343px #AFF5B4, 1497px 1880px #AFF5B4,
    1364px 230px #AFF5B4, 1739px 1302px #AFF5B4, 636px 959px #AFF5B4, 304px 686px #AFF5B4,
    614px 751px #AFF5B4, 1935px 816px #AFF5B4, 1428px 60px #AFF5B4, 355px 335px #AFF5B4,
    1594px 158px #AFF5B4, 90px 60px #AFF5B4, 1553px 162px #AFF5B4, 1239px 1825px #AFF5B4,
    1945px 587px #AFF5B4, 749px 1785px #AFF5B4, 1987px 1172px #AFF5B4, 1301px 1237px #AFF5B4,
    1039px 342px #AFF5B4, 1585px 1481px #AFF5B4, 995px 1048px #AFF5B4, 524px 932px #AFF5B4,
    214px 413px #AFF5B4, 1701px 1300px #AFF5B4, 1037px 1613px #AFF5B4, 1871px 996px #AFF5B4,
    1360px 1635px #AFF5B4, 1110px 1313px #AFF5B4, 412px 1783px #AFF5B4, 1949px 177px #AFF5B4,
    903px 1854px #AFF5B4, 700px 1936px #AFF5B4, 378px 125px #AFF5B4, 308px 834px #AFF5B4,
    1118px 962px #AFF5B4, 1350px 1929px #AFF5B4, 781px 1811px #AFF5B4, 561px 137px #AFF5B4,
    757px 1148px #AFF5B4, 1670px 1979px #AFF5B4, 343px 739px #AFF5B4, 945px 795px #AFF5B4,
    576px 1903px #AFF5B4, 1078px 1436px #AFF5B4, 1583px 450px #AFF5B4, 1366px 474px #AFF5B4,
    297px 1873px #AFF5B4, 192px 162px #AFF5B4, 1624px 1633px #AFF5B4, 59px 453px #AFF5B4,
    82px 1872px #AFF5B4, 1933px 498px #AFF5B4, 1966px 1974px #AFF5B4, 1975px 1688px #AFF5B4,
    779px 314px #AFF5B4, 1858px 1543px #AFF5B4, 73px 1507px #AFF5B4, 1693px 975px #AFF5B4,
    1683px 108px #AFF5B4, 1768px 1654px #AFF5B4, 654px 14px #AFF5B4, 494px 171px #AFF5B4,
    1689px 1895px #AFF5B4, 1660px 263px #AFF5B4, 1031px 903px #AFF5B4, 1203px 1393px #AFF5B4,
    1333px 1421px #AFF5B4, 1113px 41px #AFF5B4, 1206px 1645px #AFF5B4, 1325px 1635px #AFF5B4,
    142px 388px #AFF5B4, 572px 215px #AFF5B4, 1535px 296px #AFF5B4, 1419px 407px #AFF5B4,
    1379px 1003px #AFF5B4, 329px 469px #AFF5B4, 1791px 1652px #AFF5B4, 935px 1802px #AFF5B4;
}

.stars-green:after {
  content: "";
  position: absolute;
  top: 600px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #AFF5B4, 324px 42px #AFF5B4, 303px 586px #AFF5B4,
    1312px 276px #AFF5B4, 451px 625px #AFF5B4, 521px 1931px #AFF5B4, 1087px 1871px #AFF5B4,
    36px 1546px #AFF5B4, 132px 934px #AFF5B4, 1698px 901px #AFF5B4, 1418px 664px #AFF5B4,
    1448px 1157px #AFF5B4, 1084px 232px #AFF5B4, 347px 1776px #AFF5B4, 1722px 243px #AFF5B4,
    1629px 835px #AFF5B4, 479px 969px #AFF5B4, 1231px 960px #AFF5B4, 586px 384px #AFF5B4,
    164px 527px #AFF5B4, 8px 646px #AFF5B4, 1150px 1126px #AFF5B4, 665px 1357px #AFF5B4,
    1556px 1982px #AFF5B4, 1260px 1961px #AFF5B4, 1675px 1741px #AFF5B4,
    1843px 1514px #AFF5B4, 718px 1628px #AFF5B4, 242px 1343px #AFF5B4, 1497px 1880px #AFF5B4,
    1364px 230px #AFF5B4, 1739px 1302px #AFF5B4, 636px 959px #AFF5B4, 304px 686px #AFF5B4,
    614px 751px #AFF5B4, 1935px 816px #AFF5B4, 1428px 60px #AFF5B4, 355px 335px #AFF5B4,
    1594px 158px #AFF5B4, 90px 60px #AFF5B4, 1553px 162px #AFF5B4, 1239px 1825px #AFF5B4,
    1945px 587px #AFF5B4, 749px 1785px #AFF5B4, 1987px 1172px #AFF5B4, 1301px 1237px #AFF5B4,
    1039px 342px #AFF5B4, 1585px 1481px #AFF5B4, 995px 1048px #AFF5B4, 524px 932px #AFF5B4,
    214px 413px #AFF5B4, 1701px 1300px #AFF5B4, 1037px 1613px #AFF5B4, 1871px 996px #AFF5B4,
    1360px 1635px #AFF5B4, 1110px 1313px #AFF5B4, 412px 1783px #AFF5B4, 1949px 177px #AFF5B4,
    903px 1854px #AFF5B4, 700px 1936px #AFF5B4, 378px 125px #AFF5B4, 308px 834px #AFF5B4,
    1118px 962px #AFF5B4, 1350px 1929px #AFF5B4, 781px 1811px #AFF5B4, 561px 137px #AFF5B4,
    757px 1148px #AFF5B4, 1670px 1979px #AFF5B4, 343px 739px #AFF5B4, 945px 795px #AFF5B4,
    576px 1903px #AFF5B4, 1078px 1436px #AFF5B4, 1583px 450px #AFF5B4, 1366px 474px #AFF5B4,
    297px 1873px #AFF5B4, 192px 162px #AFF5B4, 1624px 1633px #AFF5B4, 59px 453px #AFF5B4,
    82px 1872px #AFF5B4, 1933px 498px #AFF5B4, 1966px 1974px #AFF5B4, 1975px 1688px #AFF5B4,
    779px 314px #AFF5B4, 1858px 1543px #AFF5B4, 73px 1507px #AFF5B4, 1693px 975px #AFF5B4,
    1683px 108px #AFF5B4, 1768px 1654px #AFF5B4, 654px 14px #AFF5B4, 494px 171px #AFF5B4,
    1689px 1895px #AFF5B4, 1660px 263px #AFF5B4, 1031px 903px #AFF5B4, 1203px 1393px #AFF5B4,
    1333px 1421px #AFF5B4, 1113px 41px #AFF5B4, 1206px 1645px #AFF5B4, 1325px 1635px #AFF5B4,
    142px 388px #AFF5B4, 572px 215px #AFF5B4, 1535px 296px #AFF5B4, 1419px 407px #AFF5B4,
    1379px 1003px #AFF5B4, 329px 469px #AFF5B4, 1791px 1652px #AFF5B4, 935px 1802px #AFF5B4;
}

.stars-green2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #AFF5B4, 1775px 1663px #AFF5B4, 332px 1364px #AFF5B4,
    878px 340px #AFF5B4, 569px 1832px #AFF5B4, 1422px 1684px #AFF5B4, 1946px 1907px #AFF5B4,
    121px 979px #AFF5B4, 1044px 1069px #AFF5B4, 463px 381px #AFF5B4, 423px 112px #AFF5B4,
    523px 1179px #AFF5B4, 779px 654px #AFF5B4, 1398px 694px #AFF5B4, 1085px 1464px #AFF5B4,
    1599px 1869px #AFF5B4, 801px 1882px #AFF5B4, 779px 1231px #AFF5B4, 552px 932px #AFF5B4,
    1057px 1196px #AFF5B4, 282px 1280px #AFF5B4, 496px 1986px #AFF5B4, 1833px 1120px #AFF5B4,
    1802px 1293px #AFF5B4, 6px 1696px #AFF5B4, 412px 1902px #AFF5B4, 605px 438px #AFF5B4,
    24px 1212px #AFF5B4, 234px 1320px #AFF5B4, 544px 344px #AFF5B4, 1107px 170px #AFF5B4,
    1603px 196px #AFF5B4, 905px 648px #AFF5B4, 68px 1458px #AFF5B4, 649px 1969px #AFF5B4,
    744px 675px #AFF5B4, 1127px 478px #AFF5B4, 714px 1814px #AFF5B4, 1486px 526px #AFF5B4,
    270px 1636px #AFF5B4, 1931px 149px #AFF5B4, 1807px 378px #AFF5B4, 8px 390px #AFF5B4,
    1415px 699px #AFF5B4, 1473px 1211px #AFF5B4, 1590px 141px #AFF5B4, 270px 1705px #AFF5B4,
    69px 1423px #AFF5B4, 1108px 1053px #AFF5B4, 1946px 128px #AFF5B4, 371px 371px #AFF5B4,
    1490px 220px #AFF5B4, 357px 1885px #AFF5B4, 363px 363px #AFF5B4, 1896px 1256px #AFF5B4,
    1979px 1050px #AFF5B4, 947px 1342px #AFF5B4, 1754px 242px #AFF5B4, 514px 974px #AFF5B4,
    65px 1477px #AFF5B4, 1840px 547px #AFF5B4, 950px 695px #AFF5B4, 459px 1150px #AFF5B4;
}

.stars-green2:after {
  content: "";
  position: absolute;
  top: 600px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #AFF5B4, 1775px 1663px #AFF5B4, 332px 1364px #AFF5B4,
    878px 340px #AFF5B4, 569px 1832px #AFF5B4, 1422px 1684px #AFF5B4, 1946px 1907px #AFF5B4,
    121px 979px #AFF5B4, 1044px 1069px #AFF5B4, 463px 381px #AFF5B4, 423px 112px #AFF5B4,
    523px 1179px #AFF5B4, 779px 654px #AFF5B4, 1398px 694px #AFF5B4, 1085px 1464px #AFF5B4,
    1599px 1869px #AFF5B4, 801px 1882px #AFF5B4, 779px 1231px #AFF5B4, 552px 932px #AFF5B4,
    1057px 1196px #AFF5B4, 282px 1280px #AFF5B4, 496px 1986px #AFF5B4, 1833px 1120px #AFF5B4,
    1802px 1293px #AFF5B4, 6px 1696px #AFF5B4, 412px 1902px #AFF5B4, 605px 438px #AFF5B4,
    24px 1212px #AFF5B4, 234px 1320px #AFF5B4, 544px 344px #AFF5B4, 1107px 170px #AFF5B4,
    1603px 196px #AFF5B4, 905px 648px #AFF5B4, 68px 1458px #AFF5B4, 649px 1969px #AFF5B4,
    744px 675px #AFF5B4, 1127px 478px #AFF5B4, 714px 1814px #AFF5B4, 1486px 526px #AFF5B4,
    270px 1636px #AFF5B4, 1931px 149px #AFF5B4, 1807px 378px #AFF5B4, 8px 390px #AFF5B4,
    1415px 699px #AFF5B4, 1473px 1211px #AFF5B4, 1590px 141px #AFF5B4, 270px 1705px #AFF5B4,
    69px 1423px #AFF5B4, 1108px 1053px #AFF5B4, 1946px 128px #AFF5B4, 371px 371px #AFF5B4,
    1490px 220px #AFF5B4, 357px 1885px #AFF5B4, 363px 363px #AFF5B4, 1896px 1256px #AFF5B4,
    1979px 1050px #AFF5B4, 947px 1342px #AFF5B4, 1754px 242px #AFF5B4, 514px 974px #AFF5B4,
    65px 1477px #AFF5B4, 1840px 547px #AFF5B4, 950px 695px #AFF5B4, 459px 1150px #AFF5B4;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-600px);
  }
}