name: Deploy to Firebase Hosting on staging
"on":
  push:
    branches:
      - staging
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"

      - name: Install dependencies and build website
        run: npm ci && npm run build
        env:
          NEXT_PUBLIC_APP_URL: https://app.staging.sweenk.com/

      - name: Setup Firebase CLI
        run: npm install -g firebase-tools

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_SWEENK_STAGING }}"

      - name: Deploy Hosting to Firebase
        run: firebase deploy --only hosting:sweenk-main-website --project sweenk-staging-cloud
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks